img {
	height: 400px;
	width: 600px;
}

#carousel {
	width: 600px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}

ul {
	width: 3000px;
	height: 400px;
	list-style-type: none;
	padding: 0;
}

li {
	width: 600px;
	height: 400px;
	list-style-type: none;
	float: left;
}